jaxb-ri/samples/src/main/samples/fix-collides/example.xsd

<!--

    Copyright (c) 1997, 2021 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Distribution License v. 1.0, which is available at
    http://www.eclipse.org/org/documents/edl-v10.php.

    SPDX-License-Identifier: BSD-3-Clause

-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jxb="https://jakarta.ee/xml/ns/jaxb"
           jxb:version="3.0">

  <!-- Demonstrate how to fix this keyword usage error. -->
  <xs:element name="Class" type="xs:int"/>

  <xs:element name="FooBar" type="FooBar"/>

  <xs:complexType name="FooBar">
    <xs:sequence>
      <xs:element name="foo" type="xs:int"/>
      <xs:element ref="Class"/>
      <!-- collision between attribute and element with same name, zip -->
      <xs:element name="zip" type="xs:int"/>
    </xs:sequence>
    <xs:attribute name="zip" type="xs:string"/>
  </xs:complexType>
</xs:schema>
<!--  Following errors are generated by xjc when binding.xjb does
      not fix the customization errors.
-->
<!--
      [xjc] [ERROR] Property name "Class" is reserved by java.lang.Object.
      [xjc]   line 19 of file:fix-collides/example
.xsd
      [xjc] [ERROR] Property "Zip" is already defined.
      [xjc]   line 20 of file:fix-collides/example
.xsd
      [xjc] [ERROR] The following location is relevant to the above error
      [xjc]   line 22 of file:fix-collides/example
.xsd
-->


