jaxb-ri/xjc/src/test/resources/schemas/issue1788/schema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Copyright (c) 2025 Contributors to the Eclipse Foundation. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Distribution License v. 1.0, which is available at
    http://www.eclipse.org/org/documents/edl-v10.php.

    SPDX-License-Identifier: BSD-3-Clause

-->

<!-- See https://github.com/eclipse-ee4j/jaxb-ri/issues/1788 -->
<xs:schema
    targetNamespace="http://example.org/document"
    xmlns:tns="http://example.org/document"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>

    <xs:complexType name="gh1788Type">
        <xs:sequence>
            <xs:element name="StringAttr" type="xs:string" minOccurs="0" nillable="true" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="gh1788" type="tns:gh1788Type"/>

</xs:schema>